h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(126, 29, 33);
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
    }
    body header nav ul {   
        padding: 20px;
        margin: 20px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    body header nav ul li {
        display: inline;
        margin: 15px;
    }
    body header nav ul li a {
        font-size: 35px;
        text-decoration: none;
    }

    body {
        background-color: rgb(160, 135, 103);
    }

    ul {
        color: darkblue;
        font-size: 25px;
        font-weight: bold;
        margin: 40px;
        list-style: circle;
        font-family: 'Montserrat', sans-serif;
}

ol {
    list-style-type: decimal;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
}

ol li {
    font-size: 25px;
    color: darkred;
}

#movie {
    font-size: 30px;
    margin: 10px;
}
img {
    width: 400px;
    height: 150px;
    margin: 30;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

#git {
    font-size: 30px;
    list-style: none;
    text-align: center;
}
#git a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}